.title {
    font-style: bold;
    font-size: 100px;
    margin: auto;
    padding-top: 100px;
}

.subTitle {
    margin: auto;
    padding: 0px;
    font-style: italic;
    font-size: 40px;
}

.infoTitle {
    font-weight: bold;
    font-style: italic;
    color: white;
}

.info {
    font-style: italic;
    padding-bottom: 10%;
    color: white;
}
