.title {
    font-style: bold;
    font-size: 10vh;
    margin: auto;
    padding-top: 10vh;
}

.subTitle {
    margin: auto;
    padding: 0px;
    text-shadow: 0px 4px 4px #282828;
    font-style: italic;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.infoTitle {
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 3px #000000;
}

.info {
    font-style: italic;
    padding-bottom: 10%;
    color: white;
}
