.about-container {
    display: flex;
}

.column-right {
    width: 60%;
    display: table-cell;
    margin: 4%;
}

.column-left {
    width: 40%;
    display: table-cell;
    margin: 2%;
}

.action-items {
    margin: 15px;
    display: flex;
    align-items: center;
    padding: 20px;
}
